= link_to '更新代理', renew_proxies_accounts_path , class: 'btn btn-flag btn-danger pull-right', data: { confirm: "确定" }, method: :post, remote: true
= link_to '全部登录', login_all_account_accounts_path , class: 'btn btn-flag btn-success pull-right', data: { confirm: "确定" }, method: :post, remote: true
= link_to '新增诊所', new_account_path, class: 'btn btn-flag pull-right btn-primary'

%table.table.table-bordered
  %thead
    %tr
      %th 用户名
      %th 密码
      %th 代理
      %th 登录
      %th 就诊
      %th
  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.username
        %td= account.password
        %td
          = account.proxy
          \/
          - if account.proxy_renew_at
            = time_ago_in_words account.proxy_renew_at
          \/
          - if account.proxy_last_ok_at
            = time_ago_in_words account.proxy_last_ok_at
        %td
          = account.logins.today.done.count
          \/
          = account.logins.done.count
          \/
          = account.logins.count
        %td
          %strong= account.proxy
          %br
          - if account.logins.present?
            = account.logins.last.exception
        %td
          = link_to '换代理', renew_proxy_account_path(account), method: :post, data: { confirm: "renew?" }, remote: true
          = link_to '登录', login_account_path(account), method: :post, data: { confirm: "login?" }, remote: true
          = link_to '显示', edit_account_path(account)
          = link_to '删除', account, method: :delete, data: { confirm: 'Are you sure?' }



= paginate @accounts
